html, body {
    font-family: Arial, sans-serif;
    color: white; /* White text */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure video stays behind other content */
}
header {
    background-color: white;
    max-width: 1600px; /* Adjust the size as needed */
    height: 70px; /* Changed header background to white */
}
main {
    flex: 10; /* Allow the main section to grow and push the footer down */
}
footer {
    background-color: white; /* Changed footer background to white */
    color: white;
    text-align: center;
    padding: 1rem;
}
.logo {
    margin-left: 20px;
}

h1 {
    margin: 20px 0;
}

p {
    margin-bottom: 20px;
}

.social-signin, .social-signup {
    margin-top: 10px;
}

.btn-light {
    background-color: #4d4d4d; /* Grey button */
    color: white;
}

.btn-secondary {
    background-color: #666666; /* Slightly darker grey */
    color: white;
}

.text-muted {
    color: #cccccc; /* Lighter text for muted links */
}
.logo-img {
    max-width: 150px; /* Adjust the size as needed */
    height: 80px; /* Maintain aspect ratio */
}
.text-white a {
    margin: 0 10px; /* Adjust the spacing as needed */
}

/* Added CSS to make header and footer text black */
header, footer, header a, footer a {
    color: black !important;
}

.image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the photo fills the screen without stretching */
    z-index: -1;
}

